@media screen and (max-width: 520px) {
  .grid-container {
    position: absolute;
    z-index: 1;
  }

  .grid-row {
    margin-bottom: 10px;
  }

  .grid-row:last-child {
    margin-bottom: 0;
  }

  .grid-row:after {
    content: "";
    display: block;
    clear: both;
  }

  .grid-cell {
    width: 57.5px;
    height: 57.5px;
    margin-right: 10px;
    float: left;
    border-radius: var(--app-radius-tile);
    background: var(--app-surface-empty-tile);
  }

  .grid-cell:last-child {
    margin-right: 0;
  }

  .tile-container {
    position: absolute;
    z-index: 2;
  }
}
